@import "../core/main";

.page-curriculum {
  width: 980px;
  height: 1024px;
  margin: auto;
  a {
    color: #5d5d5d;
    font-size: 14px;
    line-height: 24px;
    &.sede1:hover {
      display: block;
      width: 100%;
      background: #ffba7a;
      opacity: 0.5;
    }
    &.sede2:hover {
      display: block;
      width: 100%;
      background: #f3f05c;
      opacity: 0.5;
    }
    &.sede3:hover {
      display: block;
      width: 100%;
      background: #3dc154;
      opacity: 0.5;
    }
  }

  .header {
    height: 7.13%;
    .container {
      align-items: center;
    }
    li {
      margin-left: 10px;
    }
    a {
      position: relative;
      color: #5d5d5d;
      font-size: 14px;
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #000;
        transform-origin: bottom left;
        transition: transform 0.25s ease-out;
      }
      &:hover::before {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }
  .main {
    height: 92.87%;
    width: 980px;
    margin: auto;
  }
  .locations {
    width: 16.67%;
    h2 {
      font-size: 18px;
      margin-bottom: 5px;
    }
    ul {
      padding-left: 10px;
      li {
        font-size: 12px;
        padding: 8px 0;
        display: block;
      }
    }
  }
  .curriculums {
    width: 83.33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 1px #d5d5d5;
    ul {
      flex-wrap: wrap;
    }
  }
  .locations {
    border: solid 1px #d5d5d5;
  }

  .card-photo {
    display: flex;
    align-items: center;
    justify-content: start;

    .card-title {

      span {
        display:block;
      }

      h1, 
      .number,
      .icons {
        margin: 0 0 10px 10px;
      
    }
    
    h2 {
      margin: 0;
    }
    img {
      border: solid 3px #3dc154;
      border-radius: 50%;
      width: 112px;
      height: 112px;
    }
  }

  .button {
    width: auto;
    &.button-primary {
      margin: 0 0 16px 20px;
    }
    &.button-secondary {
      margin: 0 0 11px 11px;
      font-size: 11px;
    }
  }
  p {
    font-size: 13px;
    line-height: 26px;
  }
  h6 {
    font-size: 11px;
    font-family: "Exo";
  }
  .articles-container {
    margin-left: 20px;

    .articles {
      margin-top: 20px;
      .article {
        margin-left: 20px;
      }
    }
  }
 
}
