@import "../core/main";
@import "../components/card";

.page-dashboard {
  width: 980px;
  height: 1024px;
  margin: auto;
  li {
    color: #5d5d5d;
    font-size: 14px;
    line-height: 24px;
    vertical-align: center;
    &.sede1:hover {
      display:block;
      width: 100%;
      background: #ffba7a;
      opacity: 0.5;
    }
    &.sede2:hover {
      display:block;
      width: 100%;
      background: #f3f05c;
      opacity: 0.5;
    }
    &.sede3:hover {
      display:block;
      width: 100%;
      background: #3dc154;
      opacity: 0.5;
    }
  }

  .header {
    height: 7.13%;
    .container {
      align-items: center;
    }
    li {
      margin-left: 10px;
    }
    a {
      position: relative;
      color: #5d5d5d;
      font-size: 14px;
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #000;
        transform-origin: bottom left;
        transition: transform 0.25s ease-out;
      }
      &:hover::before {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }
  .main {
    height: 92.87%;
    width: 980px;
    margin: auto;
  }
  .locations {
    width: 16.67%;
    border: solid 1px #d5d5d5;
    padding: 10px 0 0 13px;
    h2 {
      font-size: 18px;
      margin-bottom: 5px;
    }
    ul {
      li {
        font-size: 12px;
        padding: 8px 0 8px 10px;
        display: block;
      }
    }
  }
  .profiles {
    width: 83.33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 1px #d5d5d5;
  }
  .locations {
    border: solid 1px #d5d5d5;
  }
  .footer {
    margin: 0 50px 0 20px;
  }
}
