@import "../core/main";
@import "../components/card";

.dashboard {
  .scene {
    width: 200px;
    height: 260px;
    perspective: 600px;
  }
  .card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  .card-face {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
  }
  .card-container {
    background: red;
  }
  .card-profile-container {
    background: blue;
    transform: rotateY( 180deg );
  }
  .is-flipped {
    transform: rotateY(180deg);
  }
}
